<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset='utf-8' />
        <link rel="stylesheet" type="text/css" media="screen" href= "../static/semantic-ui/semantic.min.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <title>{% block title %}{% endblock %} - 羽天珼岸 HakureiWings</title>
        {% endblock %}  
    </head>

    <body style="overflow: hidden;">
        {% block body %}
        {% endblock %}
    </body>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/semantic-ui/semantic.min.js"></script>
    {% block script %}
    {% endblock %}
</html>
