{% extends "blogbase.html"%}
{% block title %}Gallery{% endblock %}
{% block top %}
<div class="ui pointing vertical menu" style="width:90%;" >

  <a class="item" style="pading:1px;" href="/">
	  <h4><i style="padding-right:4px;" class="fa fa-home"></i>  羽天珼岸 HakureiWing </h4>
  </a>
  <a class="item" href="https://hakurei.club/blog">
	 <i style="padding-right:5px;"  class="fa fa-comments"></i> 躲雨閒聊 /..Blog
  </a>
  <a class="item" href="https://www.facebook.com/HakureiWing/">
	  <i style="padding-right:8px;"  class="fa fa-facebook-official"></i> 轉移陣地 /..Facebook
  </a>
  <a class="item active">
	  <i style="padding-right:5px;"  class="fa fa-picture-o"></i> 雨天塗鴉 /..Gallery
  </a>
  <a class="item" href="mailto:contact@hakurei.club">
	  <i style="padding-right:5px;"  class="fa fa-envelope-o"></i> 買把傘吧 /..Contact
  </a>
  <div class="item">
  </div>
</div>
<br>
<div class="ui horizontal divider" style="width:90%;">
		      我是賣萌的分割線
</div>
<br>
<div class="ui pointing vertical menu" style="width:90%;" >

  <a class="item" style="pading:1px; background:#FFFFBB;">
	  <h4><i style="padding-right:5px;"class="fa fa-calendar"></i>  預訂參加場次 </h4>
  </a>
  <a class="item">
	 <i style="padding-right:5px;"  class="fa fa-calendar-check-o "></i> 	PF24
  </a>
  <a class="item">
	 <i style="padding-right:5px;"  class="fa fa-calendar-check-o "></i> 	FF28
  </a>
  <div class="item">
  </div>
</div>
{% endblock %}
{% block content %}


<div class="ui fluid link cards" >
  <div class="ui fluid card">
    <div class="ui fluid  image" style="  background:#fff; text-align:center;">
			  <div class="ui blue right ribbon label">
				  <i class="fa fa-star"></i> 原創
			  </div>
		<div style="height:100%; overflow: hidden;">
      <img  src="/static/img/header.jpg">
  		</div>
	</div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      花少女
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
</div>
<div class="ui two link doubling  cards">
  <div class="card" style="height:395px;">
    <div class="ui  image" style="height:350px; background:#fff; text-align:center;">
			  <div class="ui orange ribbon label">
				  <i class="fa fa-star"></i> 艦-同人
			  </div>
		<div style="height:350px; overflow: hidden;">
      <img  src="/static/img/moe.png">
  		</div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card" style="height:395px;">
    <div class="ui image" style="height:350px; background:#fff; text-align:center;">
			  <div class="ui pink right ribbon label">
				  <i class="fa fa-star"></i> LL-同人
			  </div>
		<div style="height:350px; overflow: hidden;">
      <img  src="/static/img/ll.jpg">
  		</div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      希-塔羅排
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			棉花
		</span>
	</div>
  </div>
</div>
<div class="ui four link doubling cards">
  <div class="card" style="height:200px;">
    <div class="ui  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img  src="/static/img/moe.png">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card">
    <div class="ui  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img src="/static/img/moe.png">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card" style="height:200px;">
    <div class="ui  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img src="/static/img/moe.png">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
  <div class="card" style="height:200px;">
    <div class="ui  centered  image" style=" background:#fff; text-align:center;">
		<div style="height:160px; overflow: hidden;">
      <img src="/static/img/moe.png">
    </div>
    </div>
    <div class="extra content">
	   	<span class="left floated">
	       <i class="fa fa-pencil"></i>
		      瑞鳳-正裝Q版
		</span>
		<span class="right floated">
			<i class="fa fa-user"></i>
			夢築
		</span>
	</div>
  </div>
</div>
{% endblock %}
{% block script %}

		<script>
$('.ui.sticky')
.sticky({
	context: '#nav',
})
;
		</script>
{% endblock %}
