{% extends "nbase.html"%}
{% block title %}Index{% endblock %}
{% block top %}
<div class="ui pointing vertical menu" style="width:90%;" >

  <a class="item active" style="pading:1px;">
	  <h4><i style="padding-right:4px;" class="fa fa-home"></i>  羽天珼岸 HakureiWing </h4>
  </a>
  <a class="item" href="https://hakurei.club/blog">
	 <i style="padding-right:5px;"  class="fa fa-comments"></i> 躲雨閒聊 /..Blog
  </a>
  <a class="item" href="https://www.facebook.com/HakureiWing/">
	  <i style="padding-right:8px;"  class="fa fa-facebook-official"></i> 轉移陣地 /..Facebook
  </a>
  <a class="item" href="/card">
	  <i style="padding-right:5px;"  class="fa fa-picture-o"></i> 雨天塗鴉 /..Gallery
  </a>
  <a class="item" href="mailto:contact@hakurei.club">
	  <i style="padding-right:5px;"  class="fa fa-envelope-o"></i> 買把傘吧 /..Contact
  </a>
  <div class="item">
  </div>
</div>
<br>
<div class="ui horizontal divider" style="width:90%;">
		      我是賣萌的分割線
</div>
<br>
<div class="ui pointing vertical menu" style="width:90%;" >

  <a class="item" style="pading:1px; background:#FFFFBB;">
	  <h4><i style="padding-right:5px;"class="fa fa-calendar"></i>  預訂參加場次 </h4>
  </a>
  <a class="item">
	 <i style="padding-right:5px;"  class="fa fa-calendar-check-o "></i> 	PF24
  </a>
  <a class="item">
	 <i style="padding-right:5px;"  class="fa fa-calendar-check-o "></i> 	FF28
  </a>
  <div class="item">
  </div>
</div>
{% endblock %}
{% block picture %}
<a class="ui fluid image">
<img   class="ui fluid rounded image" width="100%" src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/s2048x2048/12829420_899781320168349_8204505409020546450_o.jpg">
</a>
{% endblock %}
{% block content %}
<h3 class="ui horizontal divider header">
寫做「志同道合」唸做「腦袋有洞」
</h3>
<br>
<img class="ui small left floated image" style="left:30px;"  src="/static/img/moe.png">
<div style="padding-left:218px">
<p>本是彼此認識的ACG同好，突然在場次一個發病就開始搞起了同人社團</p>
<p>一切的起因源於FF27，一群同動漫社團、</p>
<p>腦子有洞的ACG同好們決定舉桿起義…… 喔不，我是說成立同人社團。</p>
<p>除了目前擔當主筆的繪師夢築以及棉花，我們也會跟其他繪師合作發售商品，</p>
<p>增加多元性，風格較不拘。由於社團成員遍及北中南，</p>
<p>所以我們會在台灣各大場次展開活動，歡迎各位同好前與我們交流！</p>
</p>
{% endblock %}
{% block script %}

		<script>
$('.ui.sticky')
.sticky({
	context: '#nav',
})
;
		</script>
{% endblock %}
