{% extends "nbase.html"%}
{% block title %}Index{% endblock %}
{% block index %}
active
{% endblock %}
{% block picture %}
<a class="ui fluid image">
<img   class="ui fluid rounded image" width="100%" src="/static/img/hana004.jpg">
</a>
{% endblock %}
{% block text %}
<h3 class="ui horizontal divider header">
寫做「志同道合」唸做「腦袋有洞」
</h3>
<img class ="ui right floated image"src="/static/img/pic.png" style="right:2%; max-height:260px">
<br>
<br>
<p>本是彼此認識的ACG同好，突然在場次一個發病就開始搞起了同人社團</p>
<p>一切的起因源於FF27，一群同動漫社團、</p>
<p>腦子有洞的ACG同好們決定舉桿起義…… 喔不，我是說成立同人社團。</p>
<p>除了目前擔當主筆的繪師夢築以及棉花，我們也會跟其他繪師合作發售商品，</p>
<p>增加多元性，風格較不拘。由於社團成員遍及北中南，</p>
<p>所以我們會在台灣各大場次展開活動，歡迎各位同好前與我們交流！</p>
{% endblock %}
{% block script %}

		<script>
$('.ui.sticky')
.sticky({
	context: '#nav',
})
;
		</script>
{% endblock %}
